*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
  
  background-color: #cccc;
  
}
img {
  width: 100%;
}

h1 {
  padding: 30px;
}
p{
  text-align: center;
}
h2{
  text-align: center;
}
.mision {
  font-size: 20px;
}

.mision strong {
  color: red;
}

.diferenciales{
  background: #ffffff;
  display: flex;
}
.diferenciales h2{
  text-align: center;
}
.item_diferencial{
  font-style:italic;
}

.imagenDiferencial{
  width: 50%;
}