*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: #cccccc;
    display: flex;
}

.logo{
    width: 70px;
}
.list_nav{
    display: none;
}

/* ----------------------------------main------------------- */
main{
    width: 100%;
    height: 100vh;
}
.banner > img{
    height: 200px;
    width: 100%;
}


footer{
    background: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

footer  img{
    width: 80px;

}

.logo_footer{
    text-align: center;
}

.list_footer li{
    list-style: none;

}