* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: #bbbb;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  margin: auto;
}

nav ul li {
  list-style: none;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

footer {
  text-align: center;
  background: #000000;
  color: #ffffff;
  padding: 20px;
}
